html
    head
        style
            include css/admin.css
            include css/dropzone.css
        script
            include dropzone.js
        script(src='https://code.jquery.com/jquery-latest.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js')
        script(type='text/javascript').
            Dropzone.autoDiscover = false;
            $(document).ready(function() {

                $('#depiction > div').each( function() {
                    var dropzone = new Dropzone('#' + this.id, {
                        url: '/',
                        uploadMultiple: false,
                        acceptedFiles: '.png',
                        dictDefaultMessage: 'Drag and drop or click to choose file'
                    });
                });

                $('#nameToDepiction').on('submit', function(e) {
                    e.preventDefault();            

                    var data = {
                        reactant: {
                            name: $('#reactant').val(),
                            depiction: $('#depiction #reactant-img img').attr('src')
                        },
                        reagent: {
                            name: $('#reagent').val(),
                            depiction: $('#depiction #reagent-img img').attr('src')
                        },
                        product: {
                            name: $('#product').val(),
                            depiction: $('#depiction #product-img img').attr('src')
                        }
                    }

                    $.ajax({
                        url:'/getImage',
                        data: data,
                        method: 'POST',
                        error: function(response) {
                            console.log("error in ajax call");
                        }
                    }).then(function(response) {

                        //Append depictions to page
                        var json_obj = JSON.parse(response);
                        //if currently no depiction is displayed
                        if ($('#reactant-img').children().length == 2) {
                            $('#reactant-img .dz-message').hide();
                            $('#reactant-img').append($("<img id='reactant_src'src=" + json_obj['reactant']['depiction'] + " alt=" + "'" + json_obj['reactant']['name'] + "'>"));
                        }
                        if ($('#reagent-img').children().length == 2) {
                            $('#reagent-img .dz-message').hide();
                            $('#reagent-img').append($("<img id='reagent_src'src=" + json_obj['reagent']['depiction'] + " alt=" + "'" + json_obj['reagent']['name'] + "'>"));
                        }
                        if ($('#product-img').children().length == 2) {
                            $('#product-img .dz-message').hide();
                            $('#product-img').append($("<img id='product_src'src=" + json_obj['product']['depiction'] + " alt=" + "'" + json_obj['product']['name'] + "'>"));
                        }

                        //show the "confirm reaction" button for database upload
                        $('#confirm').show();
                        $('#clear').show();
                    });
                    
                });

                //Save depictions to database
                $('#confirm').click( function(e) {
                    e.preventDefault();
                    console.log("you clicked the confirm button");
                    
                    var auth_prompt = window.prompt("Enter password");

                    var encrypted = CryptoJS.AES.encrypt(auth_prompt, "pw");
                    var decrypted = CryptoJS.AES.decrypt(encrypted, "pw");
                    
                    //only allow upload to database if correct pw is entered
                    if (decrypted.toString() == "61646d696e") {
                        console.log("password correct");

                        var cards = {
                            reactant: {
                                front: $('#reactant-img img').attr('src'),
                                back: $('#reactant').val()
                            },
                            reagent: {
                                front: $('#reagent-img img').attr('src'),
                                back: $('#reagent').val()
                            },
                            product: {
                                front: $('#product-img img').attr('src'),
                                back: $('#product').val()
                            }
                        }

                        $.ajax({
                            url: '/addReaction',
                            data: cards,
                            method: 'POST',
                            error: function(response) {
                                console.log('error in ajax call');
                            }
                        }).then( function(response) {
                            console.log('done');
                            $('#confirm').hide();
                        });

                        alert("Reaction uploaded");
                        $('#depiction img').remove();
                        $('#depiction .dz-preview').remove();
                        $('#depiction .dropzone').removeClass("dz-started");
                        $('#depiction .dz-message').show()
                        $('#confirm').hide();
                        $('#clear').hide();
                        $('#nameToDepiction')[0].reset();
                    } else {
                        alert("Password incorrect.  Upload failed.");
                    }
                });

                $('#clear').click( function(e) {
                    e.preventDefault();
                    $('#depiction img').remove();
                    $('#depiction .dz-preview').remove();
                    $('#depiction .dropzone').removeClass("dz-started");
                    $('#depiction .dz-message').show();
                    $('#confirm').hide()
                    $('#nameToDepiction')[0].reset();
                    $(this).hide();
                });

                $('button.x').click( function(e) {
                    e.preventDefault();
                    var parent = $(this).parent().attr('id');
                    $('#' + parent + ' img').remove();
                    $('#' + parent).removeClass('dz-started');
                    $('#' + parent + ' .dz-preview').remove();
                    $('#' + parent + ' .dz-message').show();
                });

                $('button#export').click( function(e) {
                    e.preventDefault();
                    $.ajax({
                        url: 'exportReactions',
                        data: {req: 'req'},
                        method: 'POST',
                        error: function(response) {
                            alert("error exporting reactions");
                        }
                    }).then( function(response) {
                        $('#download').show();
                        $('#download').click( function(e) {
                            $(this).hide();
                        });
                    });
                });

            });
    body
        h1= title
        <p>Insert Reactions Here: <br>Enter a chemical reaction to see its depiction or add your own images</p>

        <div id='depiction'>
            <div class='image dropzone' id='reactant-img'>
                <button class='x'>x</button>
            </div>
            <div class='image dropzone' id='reagent-img'>
                <button class='x'>x</button>
            </div>
            <div class='image dropzone' id='product-img'>
                <button class='x'>x</button>
            </div>
        </div>

        <form action='' id='nameToDepiction' method="POST">
            <input type='text' name='name' id='reactant' placeholder='reactant' />
            <input type='text' name='name' id='reagent' placeholder='reagent' />
            <input type='text' name='name' id='product' placeholder='product' />
            <input type='submit' value='Check' />
        </form>

        <button id='confirm' style='display: none;'>Confirm</button>
        <button id='clear' style='display: none;'>Clear</button>
        <br />
        <button id='export'>Export Reactions</button>
        <a href="reactions.csv"><button id='download' style='display: none;'>Download File</button></a>
        <p>File export currently not properly formatted (all in 1 line) --in progress--</p>
        <br />

        <div id='instructions'>
            <p>Status: Dr. Moy, you are clear to upload reactions at this time</p>
            <p>--Real database in use--</p>
            </br /><br />
            <p>Instructions to upload</p>
            <p>Method 1: Search</p>
            <ul>
                <li>Enter names of chemical structures in the corresponding "reactant", "reagent", and "product" text boxes</li>
                <li>Click 'check'</li>
                <li>Make sure the depictions match their names in the corresponding text box. Text box cannot be blank</li>
                <li>If incorrect, you may click the "x" to remove an individual image, or "clear" to remove all the images</li>
                <li>If correct, click confirm</li>
                <li>Enter password, and reaction will be uploaded</li>
            </ul>
            <br /><br />
            <p>Method 2: Upload</p>
            <ul>
                <li>Click or drag and drop .png files into the "reactant", "reagent", and "product" boxes</li>
                <li>*IMPORTANT* In the corresponding text boxes under each image, type in the name for each structure</li>
                <li>Click 'check', then click 'confirm' and enter password</li>
            </ul>
            <br /><br />
            <p>Method 3: Both</p>
            <ul>
                <li>Click or drag and drop .png files into the boxes you wish to upload an image for</li>
                <li>In the corresponding text boxes, enter the name for each uploaded structure</li>
                <li>Enter names of chemical structures in the box(es) in which you wish to search for a depiction</li>
                <li>Click 'check' and follow the same procedures described above to edit/confirm the reaction</li>
            </ul>
            </br />
            <p>Notes:</p>
            <ul>
                <li>If you encounter any formatting bugs, just refresh the page for now</li>
                <li>If the same chemical structure is used aross multiple reactions, make sure they are typed exactly the same each time.</li>
                <li>i.e. Don't type "Sodium Chloride" (with space) for one reaction, then "SodiumChloride" (no space) for another</li>
                <li>You may go to the "game" page to view your uploaded reactions and test out the game</li>
            </ul>
        </div>
        

        <form action='/'>
            <input type='submit' value='Home Page' />
        </form>
        <form action='/game'>
            <input type='submit' value='Game Page' />
        </form>
