html
    head
        style
            include css/admin.css
            include css/dropzone.css
        script
            include js/jquery-latest.min.js
            include js/dropzone.js
            include js/admin.js
        script(src='https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js')
    body
        h1= title
        <p>Insert Reactions Here: <br>Enter a chemical reaction to see its depiction or add your own images</p>

        <div id='depiction'>
            <div class='image dropzone' id='reactant-img'>
                <button class='x'>x</button>
            </div>
            <div class='image dropzone' id='reagent-img'>
                <button class='x'>x</button>
            </div>
            <div class='image dropzone' id='product-img'>
                <button class='x'>x</button>
            </div>
        </div>

        <form action='' id='nameToDepiction' method="POST">
            <input type='text' name='name' id='reactant' placeholder='reactant' />
            <input type='text' name='name' id='reagent' placeholder='reagent' />
            <input type='text' name='name' id='product' placeholder='product' />
            <input type='submit' value='Check' />
        </form>

        <button id='confirm' style='display: none;'>Confirm</button>
        <button id='clear' style='display: none;'>Clear</button>
        <br />
        <button id='exportReactions'>Export Reactions</button>
        <a href="reactions.csv"><button id='downloadReactions' style='display: none;'>Download Reactions</button></a>
        <p>File export currently not properly formatted (all in 1 line) --in progress--</p>
        <br />

        <button id='exportPoints'>Export Points</button>
        <a href='points.csv'><button id='downloadPoints' style='display: none;'>Download Points</button></a>
        <button id='resetPoints'>Reset Points</button>

        <div id='instructions'>
            <p>Status: Dr. Moy, you are clear to upload reactions at this time</p>
            <p>--Real database in use--</p>
            </br /><br />
            <p>Instructions to upload</p>
            <p>Method 1: Search</p>
            <ul>
                <li>Enter names of chemical structures in the corresponding "reactant", "reagent", and "product" text boxes</li>
                <li>Click 'check'</li>
                <li>Make sure the depictions match their names in the corresponding text box. Text box cannot be blank</li>
                <li>If incorrect, you may click the "x" to remove an individual image, or "clear" to remove all the images</li>
                <li>If correct, click confirm</li>
                <li>Enter password, and reaction will be uploaded</li>
            </ul>
            <br /><br />
            <p>Method 2: Upload</p>
            <ul>
                <li>Click or drag and drop .png files into the "reactant", "reagent", and "product" boxes</li>
                <li>*IMPORTANT* In the corresponding text boxes under each image, type in the name for each structure</li>
                <li>Click 'check', then click 'confirm' and enter password</li>
            </ul>
            <br /><br />
            <p>Method 3: Both</p>
            <ul>
                <li>Click or drag and drop .png files into the boxes you wish to upload an image for</li>
                <li>In the corresponding text boxes, enter the name for each uploaded structure</li>
                <li>Enter names of chemical structures in the box(es) in which you wish to search for a depiction</li>
                <li>Click 'check' and follow the same procedures described above to edit/confirm the reaction</li>
            </ul>
            </br />
            <p>Notes:</p>
            <ul>
                <li>If you encounter any formatting bugs, just refresh the page for now</li>
                <li>If the same chemical structure is used aross multiple reactions, make sure they are typed exactly the same each time.</li>
                <li>i.e. Don't type "Sodium Chloride" (with space) for one reaction, then "SodiumChloride" (no space) for another</li>
                <li>You may go to the "game" page to view your uploaded reactions and test out the game</li>
            </ul>
        </div>
        

        <form action='/'>
            <input type='submit' value='Home Page' />
        </form>
        <form action='/game' method='POST'>
            <input type='submit' value='Game Page' />
        </form>