html
    head
        style
            include admin.css
            include dropzone.css
        script
            include dropzone.js
        script(src='https://code.jquery.com/jquery-latest.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js')
        script(type='text/javascript').
            Dropzone.autoDiscover = false;
            $(document).ready(function() {

                $('#depiction > div').each( function() {
                    var dropzone = new Dropzone('#' + this.id, {
                        url: '/',
                        uploadMultiple: false,
                        acceptedFiles: '.png',
                        dictDefaultMessage: 'Drag and drop or click to choose file'
                    });
                });

                $('#nameToDepiction').on('submit', function(e) {
                    e.preventDefault();            

                    var data = {
                        reactant: {
                            name: $('#reactant').val(),
                            depiction: $('#depiction #reactant-img img').attr('src')
                        },
                        reagent: {
                            name: $('#reagent').val(),
                            depiction: $('#depiction #reagent-img img').attr('src')
                        },
                        product: {
                            name: $('#product').val(),
                            depiction: $('#depiction #product-img img').attr('src')
                        }
                    }

                    $.ajax({
                        url:'/getImage',
                        data: data,
                        method: 'POST',
                        error: function(response) {
                            console.log("error in ajax call");
                        }
                    }).then(function(response) {

                        //Append depictions to page
                        var json_obj = JSON.parse(response);
                        //if currently no depiction is displayed
                        if ($('#reactant-img').children().length == 2) {
                            $('#reactant-img .dz-message').hide();
                            $('#reactant-img').append($("<img id='reactant_src'src=" + json_obj['reactant']['depiction'] + " alt=" + "'" + json_obj['reactant']['name'] + "'>"));
                        }
                        if ($('#reagent-img').children().length == 2) {
                            $('#reagent-img .dz-message').hide();
                            $('#reagent-img').append($("<img id='reagent_src'src=" + json_obj['reagent']['depiction'] + " alt=" + "'" + json_obj['reagent']['name'] + "'>"));
                        }
                        if ($('#product-img').children().length == 2) {
                            $('#product-img .dz-message').hide();
                            $('#product-img').append($("<img id='product_src'src=" + json_obj['product']['depiction'] + " alt=" + "'" + json_obj['product']['name'] + "'>"));
                        }

                        //show the "confirm reaction" button for database upload
                        $('#confirm').show();
                        $('#clear').show();
                    });
                    
                });

                //Save depictions to database
                $('#confirm').click( function(e) {
                    e.preventDefault();
                    console.log("you clicked the confirm button");
                    
                    var auth_prompt = window.prompt("Enter password");

                    var encrypted = CryptoJS.AES.encrypt(auth_prompt, "pw");
                    var decrypted = CryptoJS.AES.decrypt(encrypted, "pw");
                    
                    //only allow upload to database if correct pw is entered
                    if (decrypted.toString() == "61646d696e") {
                        console.log("password correct");

                        var cards = {
                            reactant: {
                                front: $('#reactant-img img').attr('src'),
                                back: $('#reactant').val()
                            },
                            reagent: {
                                front: $('#reagent-img img').attr('src'),
                                back: $('#reagent').val()
                            },
                            product: {
                                front: $('#product-img img').attr('src'),
                                back: $('#product').val()
                            }
                        }

                        $.ajax({
                            url: '/addReaction',
                            data: cards,
                            method: 'POST',
                            error: function(response) {
                                console.log('error in ajax call');
                            }
                        }).then( function(response) {
                            console.log('done');
                            $('#confirm').hide();
                        });

                        alert("Reaction uploaded");
                        $('#depiction img').remove();
                        $('#depiction .dz-preview').remove();
                        $('#depiction .dropzone').removeClass("dz-started");
                        $('#depiction .dz-message').show()
                        $('#confirm').hide();
                        $('#clear').hide();
                        $('#nameToDepiction')[0].reset();
                    } else {
                        alert("Password incorrect.  Upload failed.");
                    }
                });

                $('#clear').click( function(e) {
                    e.preventDefault();
                    $('#depiction img').remove();
                    $('#depiction .dz-preview').remove();
                    $('#depiction .dropzone').removeClass("dz-started");
                    $('#depiction .dz-message').show();
                    $('#confirm').hide()
                    $('#nameToDepiction')[0].reset();
                    $(this).hide();
                });

                $('button.x').click( function(e) {
                    e.preventDefault();
                    var parent = $(this).parent().attr('id');
                    $('#' + parent + ' img').remove();
                    $('#' + parent).removeClass('dz-started');
                    $('#' + parent + ' .dz-preview').remove();
                    $('#' + parent + ' .dz-message').show();
                })

            });
    body
        h1= title
        <p>Insert Reactions Here: <br>Enter a chemical reaction to see its depiction or add your own images</p>

        <div id='depiction'>
            <div class='image dropzone' id='reactant-img'>
                <button class='x'>x</button>
            </div>
            <div class='image dropzone' id='reagent-img'>
                <button class='x'>x</button>
            </div>
            <div class='image dropzone' id='product-img'>
                <button class='x'>x</button>
            </div>
        </div>

        <form action='' id='nameToDepiction' method="POST">
            <input type='text' name='name' id='reactant' placeholder='reactant' />
            <input type='text' name='name' id='reagent' placeholder='reagent' />
            <input type='text' name='name' id='product' placeholder='product' />
            <input type='submit' value='Check' />
        </form>

        <button id='confirm' style='display: none;'>Confirm</button>
        <button id='clear' style='display: none;'>Clear</button>

        <p>Some to try (not actual reactions):</p>
        <ul>
            <li>2,4,6-trinitrotoluene</li>
            <li>cyclopropane</li>
            <li>acetate</li>
            <li>glucose</li>
            <li>amphetamine</li>
        </ul>

        <form action='/'>
            <input type='submit' value='Home Page' />
        </form>
        <form action='/game'>
            <input type='submit' value='Game Page' />
        </form>
