html
    head
        style
            include looks.css
        script(src='https://code.jquery.com/jquery-latest.min.js')
        script(src='https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js')
        script(type='text/javascript').
                function allowDrop(ev) {
                    ev.preventDefault();
                }

                function drag(ev) {
                    ev.dataTransfer.setData("text", ev.target.id);
                }

                function drop(ev) {
                    ev.preventDefault();
                    var data = ev.dataTransfer.getData("text");
                    ev.target.appendChild(document.getElementById(data));
                }

                $(document).ready(function() {

                    let c = $(".card"); //flipping the images
                    c.flip({axis:'y', trigger:'click'});

                    let c1 = $(".card1");
                      c.flip({axis:'y', trigger:'click'});
                    //test 2nd column 
                
                
                    var getOriginalPosition = function() {
                        $('#div1 img').each( function() {
                            //original position = row#column#
                            var op = $(this).parent().attr('id');
                            $(this).attr('data-op', op);
                        });
                    }

                    getOriginalPosition();
                    
                    $('#check').on("click", function(e) {
                        e.preventDefault();

                        //remove previous answer check
                        $('#result').empty();
                        var reactant = $('#reactant').children('img').attr('id');
                        var reagent = $('#reagent').children('img').attr('id');
                        var product = $('#product').children('img').attr('id');

                        //check answer
                        if ((reactant == "drag1" && reagent == "drag2" && product == "drag3")
                        || (reactant == "drag4" && reagent == "drag5" && product == "drag6")
                        || (reactant == "drag7" && reagent == "drag8" && product == "drag9")) {
                            $('#result').append($("<p>Correct!</p>"))
                        } else {
                            $('#result').append($("<p>Incorrect</p>"));
                            $('#result').append($("<button id='clear_answers'>Clear</button>"));

                            //clear answer choices and return to original position 
                            $('#clear_answers').on("click", function(e) {
                                e.preventDefault();
                                //appends card to previous table position (row#column#)
                                $('#div2 img').each( function() {
                                    $('#' + $(this).attr('data-op')).append($(this));
                                });
                                $('#result').empty();
                            });
                        }
                    });
                    
                });

    body
        <div id='header'>
            <img src="http://i63.tinypic.com/2edp7aw.png" alt="LOGO" width="35%" align="middle">
        </div>

        <!-- Currently displayed that each row is a solution -->
        <table id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
            <tr>
                <th id='r1c1'>
                    <div class="card">
                        <div class="front">
                            <img src="http://opsin.ch.cam.ac.uk/opsin/butyric%20acid.png" alt="butyric acid" draggable="true" ondragstart="drag(event)" id="drag1">
                        </div> 
                        <div class="back">
                            <p> butyric acid</p>
                        </div>
                    </div> 
                </th>
                <th id='r1c2'>
                    <div class="card">
                        <div class="front">
                            <img src="http://opsin.ch.cam.ac.uk/opsin/thionyl%20chloride.png" alt="thionyl chloride" draggable="true" ondragstart="drag(event)" id="drag2">
                        </div> 
                        <div class="back">
                            <p> thionyl chloride</p>
                        </div>
                    </div>
                </th>
                <th id='r1c3'>
                    <div class="card">
                        <div class="front">
                             <img src="http://opsin.ch.cam.ac.uk/opsin/butyryl%20chloride.png" alt="butyryl chloride" draggable="true" ondragstart="drag(event)" id="drag3">
                        </div> 
                        <div class="back">
                            <p> butyryl chloride</p>
                        </div>
                    </div>
                </th>
            </tr>
            <tr> 
                <th id='r2c1'>
                    <div class="card">
                        <div class="front">
                             <img src="http://opsin.ch.cam.ac.uk/opsin/butyryl%20chloride.png" alt="butyryl chloride" draggable="true" ondragstart="drag(event)" id="drag4">
                        </div> 
                        <div class="back">
                            <p> butyryl chloride</p>
                        </div>
                    </div>
                </th>
                <th id='r2c2'>
                    <div class="card">
                        <div class="front">
                             <img src="http://opsin.ch.cam.ac.uk/opsin/sodium%20methoxide.png" alt="sodium methoxide" draggable="true" ondragstart="drag(event)" id="drag5">
                        </div> 
                        <div class="back">
                            <p>sodium methoxide</p>
                        </div>
                    </div>
                </th>
                <th id='r2c3'>
                    <div class="card">
                        <div class="front">
                             <img src="http://opsin.ch.cam.ac.uk/opsin/methyl%20butyrate.png" alt="methyl butyrate" draggable="true" ondragstart="drag(event)" id="drag6">
                        </div> 
                        <div class="back">
                            <p>methyl butyrate</p>
                        </div>
                    </div>                    
                </th>
            </tr>
            <tr>
                <th id='r3c1'>
                    <div class="card">
                        <div class="front">
                            <img src="http://opsin.ch.cam.ac.uk/opsin/1-butanol.png" alt="1-butanol" draggable="true" ondragstart="drag(event)" id="drag7">
                        </div> 
                        <div class="back">
                            <p>1-butanol</p>
                        </div>
                    </div> 
                </th>
                <th id='r3c2'>
                    <div class="card">
                        <div class="front">
                            <img src="http://opsin.ch.cam.ac.uk/opsin/pyridinium%20chlorochromate.png" alt="pyridinium chlorochromate" draggable="true" ondragstart="drag(event)" id="drag8"> 
                        </div> 
                        <div class="back">
                            <p>pyridinium chlorochromate</p>
                        </div>
                    </div>  
                </th>
                <th id='r3c3'>
                    <div class="card">
                        <div class="front">
                            <img src="http://opsin.ch.cam.ac.uk/opsin/butyraldehyde.png" alt="butyraldehyde" draggable="true" ondragstart="drag(event)" id="drag9"> 
                        </div> 
                        <div class="back">
                            <p>butyraldehyde</p>
                        </div>
                    </div> 
                </th>
            </tr>
        </table>

        <table id="div2" ondrop="drop(event)" ondragover="allowDrop(event)">

            <tr>
                <th id="reactant"> </th>
                <th id="reagent"> </th>
                <th id="product"> </th>
            </tr>

        </table>
        <button id='check'>Submit</button>

        <div id="result"></div>
