html
  head
    title= title
  body
    h1= message
    <form action="https://onyen.unc.edu/cgi-bin/unc_id/authenticator.pl" name="form1" method="POST">

        <input type="hidden" name="cookie" value="123-bc-398z-45">

        <!-- 'title' is special; it will be used on the authenticator page. -->
        <input type="hidden" name="title" value="Chemistry Against Humanity Login">

        <!-- pick a background image -->
        <input type="hidden" name="backgroundimage" value="">

        <!-- pick a Casscading Style Sheet -->
        <input type="hidden" name="csslink" value="">

        <!-- pick a background color -->
        <input type="hidden" name="backgroundcolor" value="">

        <!-- Do we want to get the PID for this person? -->
        <input type="hidden" name="getpid" value="0">

        <input type="hidden" name="targetpass" value="http://dpbld09a.cs.unc.edu/login">
        
        <input type="hidden" name="textpass" value="Login success. Click continue below to return back to the Chemistry Against Humanity Website.">

        <input type="hidden" name="locationfailtimeout" value="https://onyen.unc.edu/cgi-bin/unc_id/authenticator.pl">

        <input type="hidden" name="targetfail" value="http://dpbld09a.cs.unc.edu">

        <input type="hidden" name="textfail" value="Login failed. Your password or ONYEN were wrong. Go back and try logging in again.">

        <center>
            <input type="submit" name="submit" value="Authenticate">
        </center>
    </form>
    <form action='admin'>
        <input type='submit' value='Admin Page' />
    </form>
    <form action='game'>
        <input type='submit' value='Game Page' />
    </form>
