@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    background: linear-gradient(to right, rgba(12, 88, 160, 0.863), #24C6DC);
    height: 100%;
    color:rgba(12, 88, 160, 0.863); 
}
.content{
    width:100%;
    height:100%;
}

* {
    font-family: 'Montserrat', sans-serif !important;   
    text-transform: uppercase;
}

#div1 {
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border-collapse: separate;
    border-spacing: 10px;
}

#div2 {
    width: 50%;
    height: 15%;
    margin-left: 25%;
    margin-right: 25%;
    border-collapse: separate;
    border-spacing: 10px;
    /* margin-top: 15px; */
    /* width: 45%;
    height: 15%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 10px;
    float: left;
    margin-left: 27%;
    margin-top: 15px; */
}

#labels{
    width: 50%;
    height:10px;
    margin-left: 25%;
    margin-right: 25%;
    border-collapse: separate;
    border-spacing: 10px;
}

#labels th{
    text-align: center;
    overflow:hidden;
    height: 8px;
    border-radius: 15px;   
}

.instructions{
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    line-height: normal;
    text-align: left;
    word-break: normal;
}

.instructions p, li, ul{
    color: green;
    text-align: left;
    font-size: 1vw;
    text-transform: none;
}
/* .instructions pre{
    color: purple;
    text-indent: 15px;
    font-size: 1vw;
    line-height: normal;
    white-space: pre-wrap;
} */

#submit{
    margin-left: 45%;
    margin-right: 45%;
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

td, th {
    text-align: center;
    overflow:visible;
    height: 75px;
    border-radius: 15px;
}

#div1 h2 {
    font-size: 2em;
    color: #A57706;
    margin-bottom: 0;
    border: 1px solid white;
}

#header{
    text-align: center;
    margin-right: 20px;
}

ul li img {
  width: 100px;
  border: 1px solid #FCF4DC;
  margin-top: 15px;
}

.front{
    background-color: white;
    height: 100%;
    border-radius: 15px;
    align-content: center;
}
.back{
    background-color: white;
    height: 100%;
    border-radius: 15px;
    align-content: center;
    text-align:center;
}

.back p{
    margin: 0;
    position: absolute;
    top:50%;
    transform: translate(0, -50%);
    align-content: center;
}

.card{
    height: 100px;
    align-content: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.3);
}
.card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
p{
    font-size: 1vw;
    text-align: center;
    color: solid red;
    /* Test Code */
}

.card img {
    width:75%;
    height:75%;
    margin-top: 10%;
    background-color: solid white;
    top: 50%;
    /* transform: translateY(-50%); */
    
}

/*Popup Begin */

#buttons, #start_game {
    width: 60%;
    height: 35px;
    margin-left: 20%;
    text-align: center;
    float: left;
}

#start_game, #admin_button {
    width: 25%;
    margin-left: 38%;
}

.inst_button, .lead_button, .toggle, #check, #clear_answers, #start_game, #admin_button{
    -webkit-transform:scale(1);
    -ms-transform:scale(1);
    transform:scale(1);
    padding:5px 10px;
    border:1px solid #24C6DC;
    border-radius:35px;
    background:transparent;
    cursor:pointer;
    font-size:.65em;
    color:#fff;
    -webkit-transition:.5s;
    transition:.5s;
    display:inline-block;
    margin-top: 5px;
}

.inst_button:focus, #check:focus, #clear_answers:focus .lead_button:focus, .toggle:focus, #start_game:focus, #admin_button:focus{
    outline:none;
}

.inst_button:hover, #check:hover, #clear_answers:hover, .lead_button:hover, .toggle:hover, #start_game:hover, #admin_button:hover{
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
    background:#24C6DC;
    -moz-box-shadow: 0px 0px 20px rgba(56,56,56,.2);
    -webkit-box-shadow: 0px 0px 20px rgba(56,56,56,.2);
    box-shadow: 0px 0px 20px rgba(56,56,56,.2);
}

.inst{
    display:block;
    width:500px;
    height:400px;
    background:#fff;
    border-radius:5px;
    margin:80px auto;
    z-index:999;
    overflow: scroll;
    -webkit-transform:translateY(-400%);
    transform:translateY(-400%);
    -moz-box-shadow: 0px 0px 20px rgba(56,56,56,.2);
    -webkit-box-shadow: 0px 0px 20px rgba(56,56,56,.2);
    box-shadow: 0px 0px 20px rgba(56,56,56,.2);
    text-align:center;
    line-height:7em;
    font-size:2em;
    position:relative;
    -webkit-transition: all 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

.lead{
    display:block;
    width:500px;
    height:400px; /* do not go above 400px for now */
    background:#fff;
    border-radius:5px;
    margin:80px auto;
    z-index:999;
    overflow-y: scroll; /* allowing scroll option */
    -webkit-transform:translateY(-400%);
    transform:translateY(-400%);
    -moz-box-shadow: 0px 0px 20px rgba(56,56,56,.2);
    -webkit-box-shadow: 0px 0px 20px rgba(56,56,56,.2);
    box-shadow: 0px 0px 20px rgba(56,56,56,.2);
    text-align:center;
    line-height:7em;
    font-size:2em;
    position:relative;
    -webkit-transition: all 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

/* Submitall Boxes */
.sub_box{
    border: dashed;
    border-color: #24C6DC;
    padding: 15px;
    height: 75px;
    width: 25%;
 
}

h1{
    color:rgba(12, 88, 160, 0.863);
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1em;
    position:relative;
    text-align: center;
  }
  
.close{
    position:absolute;
    top:-80px;
    right:15px;
    font-size:.9em;
    font-weight:lighter;
    cursor:pointer;
    color:rgba(12, 88, 160, 0.863);
    -webkit-transition:.5s;
    transition:.5s;
  }
  
.overlay{
    overflow-x:hidden;
    overflow-y:hidden;
     -webkit-transition:all 3s ease-in-out;
     transition:all 3s ease-in-out;
  }
  
.overlay::before{
      content: " ";
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: 8;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, .5);
     -webkit-transition:3s;
     transition:3s ;
  }